*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

#root{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 5px;
}
 



